/* Основной стиль для страницы */
body {
  background-color: #f3d3f8; /* Фоновый цвет */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Заголовок */
h1 {
  color: #000000; /* Цвет текста заголовка */
}

/* Стиль для меню сверху */
.top-bar {
  background-color: #bd20d5; /* Цвет фона меню */
  color: #FFF; /* Цвет текста меню */
  padding: 10px 20px; /* Увеличиваем отступы сверху и справа */
  margin-top: 10px; /* Отступ сверху */
  margin-left: 20px; /* Отступ слева */
  margin-right: 20px; /* Отступ справа */
  border-radius: 10px; /* Закругление углов меню */
}

.top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-bar ul li {
  display: inline;
}

.top-bar ul li:not(:last-child) {
  margin-right: 30px; /* Увеличиваем отступы между элементами меню, кроме последнего элемента */
}

.top-bar ul li a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  padding: 10px 20px; /* Подходящие отступы для кнопок */
  background-color: #bd20d5; /* Цвет фона кнопок в обычном состоянии */
  color: #000000; /* Цвет текста на кнопках в обычном состоянии */
  border-radius: 5px; /* Закругление углов кнопок */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавное изменение цвета фона и цвета текста */
}

.top-bar ul li a:hover {
  background-color: #f1caf7; /* Цвет фона кнопок при наведении */
  border: 2px solid #f1caf7; /* Обводка при наведении */
}

/* Стиль для нижней полосы */
.footer {
  background-color: #000000; /* Цвет фона нижней полосы */
  color: #FFF; /* Цвет текста в нижней полосе */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Стиль для таблицы розкладу */
table {
  border-collapse: collapse; /* Задаем стиль для объединения границ ячеек таблицы */
  width: 100%;
  margin-top: 20px;
}

/* Стиль для заголовков столбцов таблицы */
table th {
  background-color: #bd20d5; /* Цвет фона заголовка */
  color: #FFF; /* Цвет текста заголовка */
  font-weight: bold; /* Жирный шрифт */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px; /* Отступы внутри ячейки заголовка */
  border: 2px solid #bd20d5; /* Граница вокруг заголовка */
}

/* Стиль для ячеек таблицы */
table td {
  padding: 10px; /* Отступы внутри ячейки */
  border: 2px solid #bd20d5; /* Граница вокруг ячейки */
}

/* Альтернативный стиль для строк таблицы (змінює колір фону для парних рядків) */
table tr:nth-child(even) {
  background-color: #f3d3f8; /* Цвет фона для парных строк */
}

/* Стиль для ячеек таблицы */
table td {
  width: 100px; /* Фиксированная ширина ячейки */
  height: 50px; /* Фиксированная высота ячейки */
  padding: 10px; /* Отступы внутри */
  border: 2px solid #bd20d5; /* Граница вокруг ячейки */
}

label, input {
  margin-top: 10px; /* Змініть це значення на желаемый отступ */
}

form {
  margin-left: 25px; /* Отступ слева на 25 пикселей */
}
.content {
  text-align: center; /* Выравнивание текста по центру */
}
form#registration-form {
  background-color: #000000; /* Колір фону форми */
  color: #ffffff; /* Колір тексту у формі */
  width: 30%; /* Ширина форми */
  padding: 40px; /* Внутрішні відступи усередині форми */
  border-radius: 10px; /* Закруглені кути форми */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тінь форми */
  margin: 20px auto; /* Позиціонування форми по центру сторінки */
  text-align: left; /* Вирівнювання тексту ліворуч */
}

/* Стилізація полів введення */
form#registration-form label {
  display: block; /* Робимо мітки блоковими для вирівнювання рядків */
  margin-bottom: 5px; /* Відступ між мітками та полями */
}

form#registration-form input[type="text"],
form#registration-form input[type="email"],
form#registration-form input[type="password"],
form#registration-form select {
  width: 100%; /* Робимо поля введення повнорозмірними */
  padding: 10px; /* Збільшуємо внутрішні відступи в полях введення */
  margin-bottom: 15px; /* Відступ між полями введення */
  border: 1px solid #ccc; /* Границя полів введення */
  border-radius: 5px; /* Закруглені кути полів введення */
}

/* Зміна стилю кнопки */
form#registration-form input[type="submit"] {
  background-color: #bd20d5; /* Новий колір фону кнопки */
  color: #fff; /* Новий колір тексту кнопки */
  padding: 10px 20px; /* Збільшуємо внутрішні відступи кнопки */
  border: none; /* Видаляємо границю кнопки */
  border-radius: 5px; /* Закруглені кути кнопки */
  cursor: pointer; /* Зміна вигляду курсору при наведенні */
}

form#registration-form input[type="submit"]:hover {
  background-color: #f1caf7; /* Новий колір фону кнопки при наведенні */
  border: none; /* Видаляємо границю кнопки при наведенні */
}
